$backgroundGrey: #f7f7f7;
$blue: #525aee;
$blueHover: #5c6fac;
$red: #ff6f75;
$green: #00d99f;
$grey: #9b9b9b;
$grey-95: #f2f2f2;
$borderGrey: #e0e0e0;
$black: #505d6f;
$white: #fff;
$light: #cce3f1;
$pinkLight: #ffe6ee;